html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgb(172, 242, 255);
    padding: 10px 20px 0px;
}
.header {
    background-color: rgb(5, 108, 108);
    min-height: 150px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgb(58, 53, 73);
    min-height: 150px;
    padding: 0 20px;
}

.footer .texto {
    color: rgb(255, 255, 255);
    text-align: center;
}

.content .contato {
    color: #a35b5b;
}

.footer .contato {
    color: #c6f2ff;
}

.contato-img {
    display: inline-block;
    width: 16px;
}

.form-grupo {
    padding: 5px 0;
}

label {
    display: block;
}

input, textarea {
    padding: 5px;
    width: 300px;
}

.obrigatorio {
    color: rgb(255, 0, 0);
}

/* table, td, th {
    border: 1px solid black;
} */

thead tr {
    background-color: #5becff;
}

tbody tr:nth-child(even) {
    background-color: #c6f2ff;
}

tbody tr:hover {
    background-color: #a2e5fa;
}

th, td {
    padding: 5px;
    text-align: center;
}